 /* Footer */
        .footer {
            /* background: rgba(15, 23, 42, 0.85); */
            padding: 60px 0 20px;
        }

        .footer-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 40px;
            margin-bottom: 40px;
        }

        .footer-col h3 {
            font-family: 'Orbitron', sans-serif;
            color: var(--secondary);
            margin-bottom: 20px;
            font-size: 1.3rem;
        }
        

        .Set {
            color: white !important;
        }

        .footer-col p {
            color: var(--gray);
            margin-bottom: 20px;
        }

        .footer-links {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .footer-links a {
            color: #888;
            text-decoration: none;
            transition: color 0.3s ease;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .footer-links a:hover {
            color: var(--secondary);
        }

        .footer-links a i {
            font-size: 0.8rem;
        }

        #newsletter-group {
            display: flex;
            margin-top: 20px;
        }

        #newsletter-email {
            flex: 1;
            padding: 12px 15px;
            border: none;
            border-radius: 30px 0 0 30px;
            background: rgba(255, 255, 255, 0.1);
            color: var(--light);
            outline: none;
        }

        #newsletter-btn {
            background: var(--primary);
            color: var(--light);
            border: none;
            padding: 0 20px;
            border-radius: 0 30px 30px 0;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        #newsletter-btn:hover {
            background: var(--primary-dark);
        }

        .footer-bottom {
            text-align: center;
            padding-top: 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.05);
            color: var(--gray);
        }
  .footer-dropdown-content {
            display: none;
            margin-left: 15px;
        }

        .footer-dropdown.open .footer-dropdown-content {
            display: block;
        }

        .footer-dropdown-header {
            display: flex;
            color: var(--gray);
            /* transform: ; */
            justify-content: space-between;
            cursor: pointer;
            margin: 5px 0;
        }

        .footer-dropdown-header:hover {
            color: var(--secondary);
        }
   